* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana Pro' !important;
  }
.category-label{
    font-weight: 700;
    font-size: 14px;
    color: #262626;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 9px;
    text-transform: uppercase;
}
h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #54585a;
}
h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #54585a;
}
p{
    font-weight: 500;
    font-size: 16px;
    color: #262626;
    letter-spacing: 0;
    line-height: 24px;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-transform: uppercase;
}
  .primary {
      min-width: 150px;
    background-color:#55799B;
	border-radius:30px;
	border:1px solid #55799B;
	cursor:pointer;
	font-size:16px;
	padding:10px 20px;
  } 
  .primary a{
    text-decoration: none;
    color:#ffffff;
  }
  .primary:hover {
	background-color:#446688;
} 
.full-cont{
    margin-bottom: 24px;
    margin-right: 24px;
    margin-left: 24px;
}
.f-cont{
    margin-top: 15px;
}
.flag{
    background-image: url("./photo/cai-flag-f5f4f0.jpg");
    background-repeat: no-repeat!important;
    background-position: center;
    background-position-y: top;
    background-size: cover;
    width:100px;
    margin:0 auto;
    height:133px;
}
.fsize{
    width:1440px;
    margin: 0 auto;
}
@media(max-width: 769px){
    .fsize{
        width:100%;
    }
    .text-center{
        padding-left: 3%;
    }
}
